{{!!
  Media block is a smaller portion of Media box.

  * **url** (String)
  _Supported values:_ A valid URL.
  * **headline** (String)
  _Supported values:_ The text to be used in headline atom.
  * **text** (String)
  _Supported values:_ The description of media component.
}}
<div class="media">
	<div class="media-left">
		{{#if url}}<a href="{{url}}">
			{{ render "atoms/media/image" }}
		</a>
		{{else}}
			{{ render "atoms/media/image" }}
		{{/if}}
	</div>
	<div class="media-body">
		{{ render "atoms/text/headline:media-heading" level=4 text=headline }}
		<p>{{text}}</p>
	</div>
</div>
